@model TherapyDashboard.ViewModels.MultiPatientViewModel
@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 50%;
        }
    </style>
</head>

<div style="height: 700px">

    <div>
        <h2>Table data</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Current module</th>
                    <th scope="col">Task status</th>
                    <th scope="col">Flags</th>
                    <th scope="col">Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pat in Model.patients)
                {
                    <tr class="table-active">
                        <th scope="row">
                            <a href="@Url.Action("" + pat.id, "Patient" )" class="elements">
                                <span>@pat.name</span>
                            </a>
                        </th>
                        <td>
                            @{ var module = pat.id % 8;}
                            @module
                        </td>

                        <td>Delivered</td>
                        <td>2</td>
                        <td>Improving</td>
                    </tr>
                }
        </table>
    </div>

</div>