@model TherapyDashboard.Models.Patient

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Radar chart</title>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <style>
        body {
            overflow: hidden;
            margin: 0;
            font-size: 14px;
            font-family: "Helvetica Neue", Helvetica;
        }

        .container {
        	width: 90%;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 2px;
        }

        .overlay {
            fill: none;
            stroke: none;
            pointer-events: all;
        }

        .focusLine {
            fill: none;
            stroke: steelblue;
            stroke-width: 0.5px;
        }

    </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div id="chart"></div>
			</div>

			<div class="col-sm-1">
				<div id="removeButton"></div>
			</div>

			<div class="col-sm-4">
				<div id="selectedCategory"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div id="line"></div>
			</div>
		</div>
	</div>
	
    <script src="~/Scripts/Custom/DynamicSpider/SpiderChart.js"></script>

    <script type="text/javascript" src="~/Scripts/Custom/DynamicSpider/LineChart.js"></script>
    <script src="~/Scripts/Custom/DynamicSpider/Controller.js"></script>

</body>
</html>

