@model TherapyDashboard.Models.Patient

<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <h2>Patient @Model.name</h2>
    <p>ID @Model.id</p>

    <div id="container"></div>
    <script src="~/Scripts/Custom/LineChart.js"></script>
</body>


